$background-color: #002244
$tablet: 1200px

.main-footer
    display: flex
    font-family: "EinaReg"
    justify-content: space-between
    background-color: $background-color
    color: #fff
    font-weight: lighter
    font-size: .8rem

.footer-section
    display: flex
    flex-direction: column
    margin: 0 4rem
    li
        margin: 1rem 0
    h6
        font-family: "EinaBold"
        font-size: 1rem

// @media only screen and (max-width: $tablet) 
//     .input-search
//         width: 20vw
