$tablet: 1200px;
$desktop: 1800px;
.row
    display: flex;
    justify-content: center;
    flex-direction: column;

::-webkit-scrollbar 
  -webkit-appearance: none;
  width: 7px;  

::-webkit-scrollbar-thumb 
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .75);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);

.category-sidebar
    top: 0;
    width: 100%;
    z-index: 324;
    transition: .5s ease
    animation-duration: .5s ease
    position: fixed;
    left: -400px;
    -webkit-animation: sidebarKeyframe 0.5s forwards;
    animation: sidebarKeyframe 0.5s forwards;
    height: 100vh;
    background: #000000a3;

.category-container
    margin: 0
    display: flex
    flex-direction: column
    background: var(--c2);
    width: 400px
    height: 100vh

.categories-circle-button
    color: black;
    background: var(--c1);
    font-family: "EinaBold", Arial, sans-serif;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    align-self: flex-start;
    margin: 20px 20px 20px 20px;

.categories-logo
    align-self: center;
.categorie-type-container
    margin: 0px 0px 15px 0px;
    position: fixed;
    width: 400px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
.categorie-header
    font-size: 20px;
    color: var(--c1)
    align-self: center
    display: block;
    margin-bottom: 10px;
.product-categories
    margin-top: 30px;
.categories-option  
    margin-bottom: 20px
.categories-option a
    color: white
    display: flex 
.categories-option a:hover
    color: white
.categories-option
    display: flex;
.categories-option a:hover
    &:before
        position: absolute
        content: " "
        width: 10px
        height: 10px
        border-radius: 50%
        background: var(--c1)
        align-self: center;
        left: 100px;
        outline: none
        margin-top: 3px;

@keyframes sidebarKeyframe

    100%
        left: 0



.category-bar
    padding-right: 30px
    padding-left: 30px
    position: relative
    display: flex
    z-index: 3
    min-width: 1050px
    
.cart-hovered, .account-hovered
    background: var(--hover2)
    color: white !important

.cat-btn-top
    position: relative;
    display: flex;
    padding: 10px 65px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--textNormal);
    background: none;
    border: 1px solid var(--borderNormal);
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    width: calc((100%/4) - 50px);
    max-width: 150px;
    line-height: 0px;
    justify-content: center;
    align-items: center;

    
.cat-btn-top.btn-border::after
    position: absolute
    content: ""
    width: 0
    height: 0
    transition: .5s

.cat-btn-top.btn-border::before 
    position: absolute
    content: ""
    width: 0
    height: 0
    transition: .5s


.cat-btn-top.btn-border::after 
    top: -9px
    left: -9px
    border-top: 3px solid transparent
    border-left: 3px solid transparent


.cat-btn-top.btn-border::before 
    bottom: -9px;
    right: -9px;
    border-bottom: 3px solid transparent
    border-right: 3px solid transparent


.cat-btn-top.btn-border:hover 
    color: #FFBA00;


.cat-btn-top.btn-border:hover::after
    width: calc(100% + 15px)
    height: calc(100% + 15px)
    border-color: #FFBA00

.cat-btn-top.btn-border:hover::before 
    width: calc(100% + 15px)
    height: calc(100% + 15px)
    border-color: #FFBA00

.navbar
    min-width: 1050px
.navbar-start 
    width: 70vw
    min-width: 625px
.navbar-end
    min-width: 425px
.navbar-item
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    min-width: calc(400px/3)
.input-search
    font-size: .75rem
    height: 25px
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    border: none
    width: 30vw
    max-width: 700px
    padding: 0 25px 0 10px
    outline: none
    min-width: 250px;

@media only screen and (max-width: $tablet) 
    .input-search
        width: 20vw

