.top-product
    width: 85%
.img-hover-zoom
    width: 40% !important;
    padding: 0 35px !important;
    display: flex;
    justify-content: center;
.img-hover-zoom--zoom-n-rotate .imgProduct 
    transition: transform .5s
    transform: scale(0.7)
    transition-timing-function: ease-in

.img-hover-zoom--zoom-n-rotate:hover .imgProduct 
    transform: scale(0.9)
.imgProduct
    animation-name: zoomIn
    animation-duration: .5s
@keyframes zoomIn 
    from
        opacity: 0.7
        transform: scale3d(0.6, 0.6, 0.8)

    50%
        opacity: 1
        transform: scale3d(0.7, 0.7, 0)
.product-page-section2
    background: var(--bg)
    width: 100%
    height: auto
    padding: 50px
    display: flex
    flex-direction: column
.product-desc-box1
    background: var(--darker);
    width: 950px;
    height: 250px;
    margin-top: -75px;
    color: white;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
.product-info-area
    width: 60% !important
    padding: 35px !important;
.product-brand-logo
    display: flex
    flex-direction: column;
    align-items: flex-start;
.brand-logo-max
    max-width: 300px;
    margin-bottom: 15px;
    margin-left: 2px;
.product-selector
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #cacaca;
    padding: 10px 10%;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #efebeb;
    width: fit-content;
    margin: auto;
.product-info-area
    display: flex;
    justify-content: center;
5.product-box-area
    display: flex;
    align-items: center;
.q-row
    display: flex;
    align-items: center;
    width: 100% !important;
    justify-content: center;
    display: flex;
.field
    margin-bottom: 0 !important
.price-div
    margin-left: 25px    
.product-desc-img1
    width: 1080px;
    height: 375px;
.fade-in
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
.fade-in2
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
.fade-in3
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;

@keyframes fadeIn 
    0% 
        opacity: 0
        transform: translateY(50px);
    100% 
        opacity: 1 
        transform: translateY(0px);

@media only screen and (max-width:768px)
    .img-hover-zoom 
        width: 100% !important;
    .product-box-area
        padding: 15px 0 0 0 !important;
        flex-direction: column-reverse !important
    .product-info-area 
        width: 100% !important;
        padding: 0px !important;
    .is-size-2 
        font-size: 1.5rem !important;
    .content
        display: none
    .no-mobile
        display: none
    .lAlign
        text-align: center
        padding-top: 10px;
    .product-pagination
        display: none
    .product-selector
        margin: 15px 15px;
        padding: 10px 0;
        flex-wrap: wrap;
        justify-content: space-around;
    .columns
        display: flex
        flex-direction: column;
    .column
        width: calc(50vw - 30px);
        flex-basis: auto;
        padding: 10px 5px !important
    .select select
        width: 100% !important;
    .select select:not([multiple])
        padding-right: 1.5em;
        padding-left: 1.5em;
    .select:not(.is-multiple):not(.is-loading)::after
        display: inherit;
        height: 0.625em;
        margin-top: -0.32em;
    .mobile-min
        min-width: 250px
    .product-brand-logo
        align-items: center;
    .brand-logo-max
        max-width: 150px
    .product-desc-box1
        width: 100%
        height: auto
        margin-top: 0px
        padding: 25px
    .product-desc-img1
        display: none
    .product-desc-img2
        display: none
    .product-page-section2
        background: var(--bg)
        width: 100%
        height: auto
        padding: 0px
