.login-wrapper 
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--darker);
    border: 3px solid var(--c1);
    border-top: none;
.full-page-wrapper
    height: calc(100vh - 365px)
    border-bottom: 3px solid var(--c1)
.a-wrap
    height: 285px
.logged-wrapper
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--darker);
    border: 3px solid var(--c1);
    border-top: none;
.logged-bottom
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: center;

.account-section 
    margin: 0px 12.5vw 20px 12.5vw;

.account-left 
    width: 298px;
    border-right: 1px solid gainsboro;
    list-style: none;
    padding: 95px 5% 15px 5%;
    background: #f3f2f2;
    display: flex;
    flex-direction: column;
    white-space: nowrap;

.account-right 
    margin: 15px;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;

.account-row 
    display: flex;
    margin: 30px 0 0 0;

.first 
    margin-right: 15px;


.account-col 
    flex-direction: column;


.account-alert-row 
    width: 100%;
    margin: 15px 0 0 0;


.account-content 
    display: flex;
    height: 100%;

.account-page-section
    width: 100%
    height: calc(100vh - 300px);

.account-page-top
    display: flex
    flex-direction: row

.account-h1
    font-size: 2rem
    color: black
.nav-button
    font-size: 1rem
.margin-top
    margin-top: 20px

@media only screen and (max-width:768px)
    .account-content
        flex-direction: column
    .account-left 
        width: 100%;
        border-right: 1px solid gainsboro;
        list-style: none;
        padding: 25px 5% 15px 5%;
        background: #f3f2f2;
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        align-items: center;
    .account-right 
        padding: 15px;
        width: calc(100%);
        display: flex;
        flex-direction: column;
        margin: 0;
