.login-wrapper
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
.a-wrap
    height: 285px
.logged-wrapper
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
.logged-bottom
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: center;

.account-section 
    margin: 0px 12.5vw 20px 12.5vw;

.account-left 
    margin: 20px 0 15px 0;
    width: 200px;
    border-right: 1px solid gainsboro;
    list-style: none;

.account-right 
    margin: 15px;
    width: calc(100% - 200px);


.account-row 
    display: flex;


.first 
    margin-right: 15px;


.account-col 
    flex-direction: column;


.account-alert-row 
    width: 100%;
    margin: 15px 0 0 0;


.account-content 
    display: flex;

.account-page-section
    width: 100%
    margin: 0 10%;

.account-page-top
    display: flex
    flex-direction: row

.account-h1
    font-size: 2rem
    color: black