.login-form
    width: 100%
    max-width: 600px;
.reg-form
    width: 100%
    display: flex;
    flex-direction: column;
    align-items: center;
.rec-form
    width: 100%
    display: flex;
    flex-direction: column;
    align-items: center;
.recover-form
    width: 100%
    display: flex;
    flex-direction: column;
    align-items: center;
.reverse-row
    width: 75%
    display: flex;
    justify-content: space-between
    flex-direction: row-reverse;
.forgot-button
    background: none
    border: none
    border-radius: 5px
    outline: none
    font-family: 'EinaBold', Arial, sans-serif
    color: var(--textTitle)
    cursor: pointer
.reg-button
    background: none
    outline: none
    font-family: 'EinaBold', Arial, sans-serif
    color: var(--textTitle)
    cursor: pointer
    border: none
.login-reg-section
    margin: 10px
    width: 75%
    display: flex
    justify-content: flex-end
    max-width: 600px;
.name-row
    display: flex;
    justify-content: space-between;
.reset-text
    font-size: 12px;
    color: var(--c1);