.recover-password-container
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: -webkit-fill-available;
.password-recover-button
    color: black
    background: var(--c1)
    padding: 2.5px 20px
    font-family: "EinaBold", Arial, sans-serif
    border-radius: 5px
    outline: none
    border: none
    cursor: pointer
    
.password-recover-return
    display: flex
    justify-content: space-evenly;
    color: white
    background: transparent
    outline: none
    border: none
    outline: none
    width: 20%
    cursor: pointer
    align-self: flex-start;
    margin: 20px 20px 50px 35px;
.recover-circle-button 
    font-family: "EinaBold", Arial, sans-serif 
    color: black
    background: var(--c1)
    border-radius: 50%
    width: 30px
    height: 30px
.recover-circle-button .fa-chevron-left
    width: 10px;
    height: 10px;
    margin: 10px;
    margin-left: 8px;
.password-recover-return span
    margin: auto 10px;
    font-weight: bold;

.recover-form
     width: 75%
  
.recover-form input
    border-radius: 5px
    border: none
    outline: none
    padding: 5px
    margin: 10px 0
    border-left: 5px solid var(--c1)
    width: 100%