@import "~bulma"

@font-face 
  font-family: 'Pacifico'
  font-style: normal
  font-weight: 400
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2')
  font-display: swap

@font-face 
  font-family: "EinaBold";
  src: url("../fonts/EinaBold.otf");
  font-style: normal
  font-weight: 300
  font-display: swap
@font-face 
  font-family: "EinaReg";
  src: url("../fonts/EinaReg.otf");
  font-style: normal
  font-weight: 500
  font-display: swap

body 
    overflow: scroll
    font-family: "EinaBold"

.page-content 
    min-width: 900px
    overflow: hidden

.bodylight
  --bg: white;
  --textNormal: #00040A;
  --borderNormal: #00040A;
  --textTitle: #222;
  --textLink: blue;
  --hr: hsla(0, 0%, 0%, 0.2);
  background-color: var(--bg);



.bodydark 
  -webkit-font-smoothing: antialiased;
  --bg: darkslategray;
  --secondarybg: #00040A;
  --textNormal: #FFFFFF;
  --borderNormal: #FFFFFF;
  --textTitle: white;
  --textLink: yellow;
  --hr: hsla(0, 0%, 100%, 0.2);



.link-button 
  background-color: transparent
  border: none
  cursor: pointer
  text-decoration: underline
  display: inline
  margin: 0
  padding: 0

.link-button:hover, .link-button:focus
    text-decoration: none

.img-shop
    padding: 5px

.img-shop :hover
    padding: 0px 

.shopping-bag-quantity
    position: absolute
    top: 8px
    right: 2px
    width: 15px
    box-sizing: content-box
    height: 15px
    text-align: center
    color: white
    font-size: 10px
    line-height: 15px
    background-color: red
    border-width: 1px
    border-style: solid
    border-color: white
    border-image: initial
    border-radius: 20px
     
.img-hover-zoom--zoom-n-rotate .imgProduct 
  transition: transform 2s
  transform: scale(0.7)
  transition-timing-function: ease-in

/* The Transformation */
.img-hover-zoom--zoom-n-rotate:hover .imgProduct 
  transform: scale(0.9)
.imgProduct
    animation-name: zoomIn
    animation-duration: 2s
.plogo-box
    margin: 25px 0 10px 0;

.box
    padding: 0
    width: 225px
@keyframes zoomIn 
    from
        opacity: 0.7
        transform: scale3d(0.6, 0.6, 0.8)

    50%
        opacity: 1
        transform: scale3d(0.7, 0.7, 0)
.image-box
    width: auto;
    height: 100px;
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: center;
.productBox
    animation-duration: .35s ease
    background: linear-gradient(350deg, #00000008 50%, #ffffffde 50%)
    background-size: 200% 200%;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    padding: 1rem;
    background-position-y: 0%;
    display: flex;
    flex-direction: column;
    text-align: center;
    animation-name: bounceOut
    animation-direction: alternate
    transition: 0.5s
    color: black

.productBox:hover
    animation-duration: .35s
    animation-timing-function: ease
    animation-name: hoverProduct
    animation-direction: alternate
    transition: 1s ease

.p-title
    
    line-height: 18px;

.p-price
    color: #002244;
    font-size: 18px;
    margin-top: 5px;

.productBox:hover .p-title
    color: white !important

.productBox:hover .p-price
    color: #FFBA00 !important

.productBox:hover .p-view-more
    color: #002244
    background: #FFBA00
    border-radius: 3px

.p-view-more
    font-family: "EinaReg";
    color: #00040A;
    width: 75%;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #002244;

.productBox:hover
    color: #00040A


.box-background
    background: linear-gradient(350deg, #002244 55%, rgba(255, 255, 255, 0.5) 55%);
    background-position-y: 50%;
    background-size: 200% 200%;

@keyframes hoverProduct 
    0%
        background-position: 0% 0%
    100%
        background-position: 5% 55%

@keyframes bounceOut 
   0%
        opacity: 0
        background-position: 5% 55%


   100%
        opacity: 1 
        background-position: 0% 0%

.fromleft
    animation-name: FromLeft
    animation-duration: 2.5s

@keyframes FromLeft 
    from
        opacity: 0.7
        transform: translate3d(100%, 0, 0)
    50%
        opacity: 1
        transform: translate3d(0, 0, 0)

.allpictures
    animation-name: zoomIn
    animation-duration: 2.5s
    flex-direction: row

@media only screen and (max-width:770px)
    .allpictures
        flex-direction: column
        width: 1
    .box
        padding: 0
        box-shadow: none

    .productBox
        padding: 30px

    .hero-body
        padding: 3rem 0.5rem

