@import "~bulma"

@font-face 
  font-family: "EinaBold";
  src: url("../fonts/EinaBold.otf");
  font-style: normal
  font-weight: 300
  font-display: swap
@font-face 
  font-family: "EinaReg";
  src: url("../fonts/EinaReg.otf");
  font-style: normal
  font-weight: 500
  font-display: swap
html
    overflow-x: auto;
    overflow-y: scroll;

body 
    font-family: "EinaBold", Arial, sans-serif

.page-content 
    min-width: 900px
.column
    flex-grow: 0 !important
    margin: auto;
.bodylight
  --bg: white;
  --textNormal: #00040A;
  --borderNormal: #00040A;
  --textTitle: black;
  --textLink: #8c8ca5;
  --hr: hsla(0, 0%, 0%, 0.2);
  background-color: var(--bg);
  --c1: #00A1C6;
  --c2: white;
  --hover2: #002244;
  --adjGrad: linear-gradient(315deg, #537895 0%, #dadada 74%);



.bodydark 
  -webkit-font-smoothing: antialiased;
  --bg: #002244;
  --secondarybg: #00040A;
  --textNormal: #FFFFFF;
  --borderNormal: #FFFFFF;
  --textTitle: white;
  --textLink: ##FFBA00;
  --c1: #FFBA00;
  --c2: #002244;
  --hr: hsla(0, 0%, 100%, 0.2);
  --hover2: #00040A;
  --adjGrad: linear-gradient(315deg, #537895 0%, #09203f 74%);

.gold-text 
    color: var(--c1)
.black-text 
    color: black
.top-prods
    max-height: 325px;
    overflow: hidden;
    
.contain
    min-width: 1050px;
    padding: 25px;  
.hero-body
    padding: 0 0 !important;
.container
    text-align: -webkit-center;
.product-input-button
    background: var(--c1)
.link-button 
  background-color: transparent
  border: none
  cursor: pointer
  text-decoration: underline
  display: inline
  margin: 0
  padding: 0
.image
    display: flex;
    align-items: center;
.select select
    width: revert !important;

.product-input 
    font-size: .875rem;
    font-family: "EinaBold", Arial, sans-serif
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    width: 175px;
    padding: 5px 25px 5px 10px;
    outline: none;
    box-shadow: #6b69691c 0px 0px 5px 3px;

.product-input-button
    font-size: .875rem;
    font-family: "EinaBold", Arial, sans-serif;
    background: var(--c1);
    padding: 5px 15px 5px 15px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: #6b69691c 0px 0px 5px 3px;
    outline: none
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
.label
    font-family: "EinaReg", Arial, sans-serif;
    font-size: .875rem;
.EBold 
    font-family: "EinaBold", Arial, sans-serif;
.EReg 
    font-family: "EinaReg", Arial, sans-serif;
.product-buttons
    font-size: .875rem !important;
    padding: 20px 30px;
.product-buttons:hover
    background: #e3e3e3
.product-buttons.gold
    background: var(--c1)
    color: var(--hover2)
.lAlign
    text-align: left
.link-button:hover, .link-button:focus
    text-decoration: none

.img-shop
    padding: 5px

.img-shop :hover
    padding: 0px 

.shopping-bag-quantity
    width: 15px;
    box-sizing: content-box;
    height: 15px;
    text-align: center;
    color: white;
    font-size: 10px;
    line-height: 15px;
    background-color: var(--c1);
    border-width: 1px;
    border-style: solid;
    border-color: var(--textTitle);
    -o-border-image: initial;
    border-image: initial;
    border-radius: 20px;
    align-self: center;
    margin-bottom: 20px;

.with-margin-bottom
    margin-bottom: 25px
    
.plogo-box
    margin: 25px 0 10px 0;

.box
    padding: 0
    width: 225px
    border-radius: 10px;
    box-shadow: #6b69691c 0px 0px 5px 3px;



@keyframes zoomIn 
    from
        opacity: 0.7
        transform: scale3d(0.6, 0.6, 0.8)

    50%
        opacity: 1
        transform: scale3d(0.7, 0.7, 0)
.image-box
    width: 100%;
    height: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    max-width: 100px;
.productBox
    animation-duration: .35s ease
    background: linear-gradient(350deg, #00000008 50%, #ffffffde 50%)
    background-size: 200% 200%;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    padding: 1rem;
    background-position-y: 0%;
    display: flex;
    flex-direction: column;
    text-align: center;
    animation-name: bounceOut
    animation-direction: alternate
    transition: 0.5s
    color: black
    height: 300px;
    border-radius: 10px;
    align-items: center
    
.give-border
    border: 1px solid #3b3a3a;

.productBox:hover
    animation-duration: .35s
    animation-timing-function: ease
    animation-name: hoverProduct
    animation-direction: alternate
    transition: 1s ease

.p-title
    line-height: 18px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 35px;
    margin-top: 5px;

.p-price
    color: #002244;
    font-size: 18px;
    margin-top: 5px;

.productBox:hover .p-title
    color: white !important

.productBox:hover .p-price
    color: #FFBA00 !important

.productBox:hover .p-view-more
    color: #002244
    background: #FFBA00
    border-radius: 3px

.p-view-more
    font-family: "EinaReg", Arial, sans-serif;
    color: #00040A;
    width: 75%;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 5px;
    margin: 7.5px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #002244;

.productBox:hover
    color: #00040A


.box-background
    background: linear-gradient(350deg, #002244 55%, rgba(255, 255, 255, 0.5) 55%);
    background-position-y: 50%;
    background-size: 200% 200%;
    border-radius: 10px;

@keyframes hoverProduct 
    0%
        background-position: 0% 0%
    100%
        background-position: 5% 55%

@keyframes bounceOut 
   0%
        opacity: 0
        background-position: 5% 55%


   100%
        opacity: 1 
        background-position: 0% 0%

.fromleft
    animation-name: FromLeft
    animation-duration: 2.5s

@keyframes FromLeft 
    from
        opacity: 0.7
        transform: translate3d(100%, 0, 0)
    50%
        opacity: 1
        transform: translate3d(0, 0, 0)

.allpictures
    animation-name: zoomIn
    animation-duration: 2.5s
    flex-direction: row

.columns.is-multiline 
    display: flex;
    flex-wrap: wrap;
    align-items: center;

.productBoxH 
  animation-duration: .35s ease;
  background: linear-gradient(300deg, #002244 50%, rgba(255, 255, 255, 0.5) 50%);
  background-size: 200% 200%;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  padding: 1rem;
  background-position-y: 0%;
  display: flex;
  flex-direction: column;
  text-align: center;
  animation-name: bounceOutH;
  animation-direction: alternate;
  transition: 0.5s;
  color: black;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #3b3a3a;
  justify-content: center;

.productBoxH:hover 
  animation-duration: .35s;
  animation-timing-function: ease;
  animation-name: hoverProductH;
  animation-direction: alternate;
  transition: 1s ease; 

.plogo-boxH
    display: flex;
    justify-content: space-between;
    align-items: center;

.p-titleH 
  line-height: 18px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 35px; 

.p-priceH 
  color: #002244;
  font-size: 18px;
  margin-top: 5px; 

.productBoxH:hover .p-titleH 
  color: white !important; 

.productBoxH:hover .p-priceH 
  color: #FFBA00 !important; 

.productBoxH:hover .p-icon 
  color: var(--c1) !important; 

.productBoxH:hover .p-view-moreH 
  color: #002244;
  background: #FFBA00;
  border-radius: 3px; 

.p-view-moreH 
    font-family: "EinaReg", Arial, sans-serif;
    color: #00040A;
    display: flex;
    padding: 5px 35px;
    margin-top: 18px;
    font-size: 14px;
    border-radius: 3px;
    /* border: 1px solid #002244; */
    align-self: center;
    background: var(--c1);

.productBoxH:hover 
  color: #00040A; 

.box-backgroundH
    background: linear-gradient(300deg, #03366a73 61%, rgba(255, 255, 255, 0.5) 55%);
    background-position-y: 15%;
    background-size: 200% 200%;
    border-radius: 10px;

@keyframes hoverProductH
    0%
        background-position: 0% 0%
    100%
        background-position: 25% 0%

@keyframes bounceOutH
   0%
        opacity: 0
        background-position: 5% 55%


   100%
        opacity: 1 
        background-position: 0% 0%

.boxHor
    width: 100%;
    height: 180px;
    box-shadow: #6b69691c 0px 0px 5px 3px;

.hor-half
    width: 50%

.productBoxHor
    animation-duration: .35s ease
    background: linear-gradient(355deg, #00000008 50%, #ffffffde 50%)
    background-size: 200% 200%;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    padding: 1rem;
    background-position-y: 0%;
    display: flex;
    flex-direction: row;
    text-align: left;
    animation-name: bounceOutHor
    animation-direction: alternate
    transition: 0.5s
    color: black
    height: 180px;
    border-radius: 10px;
    
.give-borderHor
    border: 1px solid #3b3a3a;

.productBoxHor:hover
    animation-duration: .35s
    animation-timing-function: ease
    animation-name: hoverProductHor
    animation-direction: alternate
    transition: 1s ease

.p-titleHor
    line-height: 18px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 35px;
    margin-top: 5px;
    margin-right: 10px;

.hor-row
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

.p-priceHor
    color: #002244;
    font-size: 18px;
    margin-top: 5px;

.productBoxHor:hover .p-titleHor
    color: black !important

.productBoxHor:hover .p-priceHor
    color: #FFBA00 !important

.productBoxHor:hover .p-view-moreHor
    color: #002244
    background: #FFBA00
    border-radius: 3px

.p-view-moreHor
    font-family: "EinaReg", Arial, sans-serif;
    color: #00040A;
    width: 75%;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 5px;
    margin: 7.5px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #002244;

.productBoxHor:hover
    color: #00040A


.box-backgroundHor
    background: linear-gradient(355deg, #002244 55%, rgba(255, 255, 255, 0.5) 55%);
    background-position-y: 50%;
    background-size: 200% 200%;
    border-radius: 10px;

@keyframes hoverProductHor 
    0%
        background-position: 0% 0%
    100%
        background-position: 5% 55%

@keyframes bounceOutHor 
   0%
        opacity: 0
        background-position: 5% 55%

   100%
        opacity: 1 
        background-position: 0% 0%

@media only screen and (max-width:770px)
    .allpictures
        flex-direction: column
        width: 1
    .box
        padding: 0
        box-shadow: none

    .hero-body
        padding: 3rem 0.5rem

