.account-section
    margin: 0px;
    position: absolute;
    height: 285px;
    background: var(--hover2);
    transition: all 0.5s ease;
    top: 75px;
    width: calc(35vw - 7px);
.wrap-input-login
    display: flex;
    flex-direction: column;
    width: 75%
.wrap-input-login input
    border-radius: 5px
    border: none
    outline: none
    padding: 5px
    margin: 10px 0
    border-left: 5px solid var(--c1);
.login-form
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column;

@media only screen and (max-width:1200px)
    .account-section
        width: calc(50vw - 7px);
