.account-section
    margin: 0px;
    position: absolute;
    height: 285px;
    background: var(--hover2);
    transition: all 0.5s ease;
    min-width: 425px;
    top: 65px;
    width: calc(90%/3);
.wrap-input-login
    display: flex;
    flex-direction: column;
    width: 75%
.wrap-input-login input
    border-radius: 5px
    border: none
    outline: none
    padding: 5px
    margin: 10px 0
    border-left: 5px solid var(--c1);
.login-form
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column;
.account-button 
    color: black
    background: var(--c1)
    padding: 5px 20px;
    font-family: "EinaBold", Arial, sans-serif
    border-radius: 5px;
    outline: none
    border: none
.account-button2
    color: black;
    background: #ababab;
    padding: 5px 20px;
    font-family: "EinaBold", Arial, sans-serif;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: .8rem;