.cart-section 
    margin: 0px;
    position: absolute;
    height: 285px;
    background: var(--darker);
    transition: all 0.5s ease;
    min-width: 425px;
    top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: calc(90%/3);
    border: 3px solid var(--c1);
    border-top: none;

.cart-img
    width: 64px
    height: auto;
    max-height: 64px;

.cart-product-box
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: white;
    color: black;
    border-radius: 5px;
    align-items: center;
    height: 75px;
    margin: 10px 0;

.cart-product-title
    overflow: hidden;
    white-space: nowrap;
    width: 225px;
    text-overflow: ellipsis;
    margin-right: 25px;
    margin-left: 10px;
.small-text
    font-size: 14px;
    font-family: "EinaReg", Arial, sans-serif;
    align-self: flex-start;
.float-right
    text-align: right
.margin-left
    margin-left: 10px
.cart-bottom
    width: 100%
    padding: 0 25px
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
.inner-cart-box
    width: 70%

.cart-button 
    color: black
    background: var(--c1)
    padding: 5px 10px
    border-radius: 5px;
    outline: none
    font-size: .875rem;
    white-space: nowrap;

.cart-button2
    color: white
    padding: 5px 10px
    border-radius: 5px;
    border: none
    font-size: .875rem;
    white-space: nowrap;
    font-family: "EinaBold", Arial, sans-serif;
    display: flex
