.hero
    width: 100%
.container
    max-width: none !important
.featured-section
    background: var(--bg)
.featured-content1
    display: flex
    padding: 10px 25px
    flex-direction: column
    background: whitesmoke;
.featured-content2
    display: flex
    padding: 25px 25px
    flex-direction: column
    background: white
    margin: 50px;
    border-radius: 5px;

.featured-content3
    display: flex
    padding: 25px 25px
    flex-direction: column

.f-row-top
    width: 100%
    display: flex
    padding: 25px 25px
    justify-content: flex-start
    align-items: center
.f-row-top2
    width: 100%
    display: flex
    padding: 0px 0px
    justify-content: flex-start
    align-items: center
.f-top-title
    color: black
    margin: 0 10px 0 45px;
    height: 30px
    display: flex;
    align-items: center;
    font-size: 1.15rem;
.f-button
    margin: 0 10px;
    background: none
    color: black
    border: 1px solid black
    border-radius: 2.5px
    height: 30px
    cursor: pointer;
.f-top-title3
    color: white
    margin: 0 10px 0 45px;
    height: 30px
    display: flex;
    align-items: center;
    font-size: 1.15rem;
.f-button3
    margin: 0 10px;
    background: none
    color: white
    border: 1px solid white
    border-radius: 2.5px
    height: 30px
    cursor: pointer;
.f-top-title2
    color: black
    margin: 0 10px;
    height: 30px
    display: flex;
    align-items: center;
    font-size: 1.15rem;
.f-button2
    margin: 0 10px;
    background: none
    color: black
    border: 1px solid black
    border-radius: 2.5px
    height: 30px
    cursor: pointer;
.f-row-p
    width: 100%
    display: flex
    justify-content: center
.f-column-p
    display: flex
.horizontal-product-container
    width: 500px
    display: flex;
    justify-content: center;
.horizontal-box-container
    height: 180px
    width: 500px
    padding: 0 12.5px
.horizontal-box
    background: white
    border-radius: 5px
    height: 100%
.b-col-1
    height: 350px
    padding: 10px
    display: flex
    align-items: center
    justify-content: center
.col-1
    height: 492px
    padding: 0 10px
    display: flex
    align-items: center
    justify-content: center
.col-2
    padding: 0px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column;
.col-3
    padding: 0px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column;
.f-ad-box
    background: white
    border-radius: 5px
    width: 400px
    height: 100%
    box-shadow: #6b69691c 0px 0px 5px 3px;
.f-ad-box2
    background: #001220;
    border-radius: 5px;
    width: calc((50vw) - 20px);
    height: 100%;
    max-width: 475px;
    min-width: 300px;
    box-shadow: #6b69691c 0px 0px 5px 3px;
    color: white;
    padding: 25px;
    text-align: left;

.f-ad-box2-img
    
    display: flex;
    flex-direction: column;
    align-items: center;

@media only screen and (max-width:1500px)
    .col-1
        display: none
    .f-column-p
        
    .featured-section
    
@media only screen and (max-width:768px)
    .f-row-p
        flex-direction: column
    .f-row-top 
        width: 100%;
        display: flex;
        padding: 15px;
        justify-content: flex-start;
        align-items: center;
    .f-top-title
        margin: 0
    .f-ad-box
        height: 200px
        width: 100%
    .f-ad-box2
        width: calc((100vw) - 30px);
    .col-1
        height: 100%
        padding: 10px
    .horizontal-box-container 
        width: 100%;
        padding: 0 10px;
        height: auto
    .featured-content1
        padding: 15px 0px;
    .f-ad-box2
        min-width: 0px !important
    .horizontal-product-container 
        width: 100%;
        padding: 10px 0;
    .productBoxHor
        height: auto
    .boxHor
        height: auto
    .featured-content2 
        padding: 15px 0px;
        flex-direction: column;
        background: white;
        margin: 0;
        border-radius: 5px;
    .f-row-top2
        padding: 10px;
    .featured-content3
        padding: 15px 0px;