.mainSection
    width: 70vw
    height: 700px
    background: #002244
    min-width: 775px;
    display: flex;
    justify-content: center;

.main-section-adjustment-layer
    width: 70vw
    background: black
    top: 0
    left: 0
    height: 700px
    background-color: #537895
    background-image: var(--adjGrad)
    opacity: 0.9;
    display: table-cell;
    position: absolute

.header-adjustment
    margin-top: 65px;
    height: 600px;
    position: absolute;
    top: 0;
    width: 775px;

.home-ani
    height: 700px
    width: 100%;

.hero-body
    padding: 0

.main-text-section
    height: 100%;
    display: flex;
    color: var(--textTitle);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0;
    position: relative;
    justify-content: center;
    max-width: 775px;
    margin: auto;
.main-text-mobile
    display: none
.top-text
    font-size: 3em;
    max-width: 600px;
    line-height: 1.25em;
.text-reg
    font-family: "EinaReg", Arial, sans-serif
.text-gold
    color: var(--c1)
.bottom-text
    font-size: 1.25em
    text-align: center;
    color: white;
.column.is-3, .column.is-3-tablet 
    width: auto !important;
.cat-top-half
    display: flex
    width: 50%
    height: 100%
    flex-direction: column
.cat-row
    width: 100%
    display: flex
    height: calc(100%/3);
.cat-half
    width: 50%;
    margin: 10px;
    background: white;
    border-radius: 5px;
    color: black;
    background-position-y: 25px;
    background-repeat: no-repeat;
.cat-text
    width: 45%
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 5px;
    text-align: justify
    font-size: 3em;
    line-height: 1.05em;
.cat-text:after 
  content: "";
  display: inline-block;
  width: 100%;

.cat-full
    width: 100%;
    margin: 10px;
    background: white;
    border-radius: 5px;
    color: black;
    background-position-y: 25px;
    background-repeat: no-repeat;
.cat-full:hover, .cat-half:hover
    transform: scale(1.02);
    transition: .25s ease;
.cat-icon-bottom
    display: flex;
    justify-content: flex-end;
    height: 80px;
    font-size: 1.5em;
    align-items: center;
.cat-info-top
    height: calc(100% - 80px)
    padding: 10px;
    font-size: 1.15em;

.cat-full:hover .fa-arrow-right, .cat-half:hover .fa-arrow-right
    animation-duration: .5s
    animation-timing-function: ease
    animation-name: wiggle
    animation-direction: alternate
    transition: 1s ease
@keyframes wiggle
    from
        transform: rotate(0deg)
    33%
        transform: rotate(15deg)
    66%
        transform: rotate(-15deg)
    100%
        transform: rotate(0deg)

.home-svg-1
    fill: var(--darker);
    width: 50px;
    position: absolute;
    top: 225px;
    left: 65px;
    animation: svg1 3.5s infinite
    animation-direction: alternate
    transition: 1s ease
    opacity: .8

.home-svg-1-shadow
    fill: #003C78;
    width: 50px;
    position: absolute;
    top: 225px;
    left: 66px;
    animation: svg1 3.5s infinite
    animation-direction: alternate
    transition: 1s ease
    opacity: .8
    
@keyframes svg1
    from
        opacity: .8
    100%
        opacity: 0.25


.home-svg-2
    fill: var(--darker);
    width: 100px;
    position: absolute;
    top: 20px;
    left: 15px;
    animation: svg2 5.5s infinite
    animation-direction: ease

.home-svg-2-shadow
    fill: #003C78;
    width: 100px;
    position: absolute;
    top: 20px;
    left: 16px;
    animation: svg2 5.5s infinite
    animation-direction: ease
    
    opacity: .8

@keyframes svg2
    from
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

.home-svg-3
    fill: var(--darker);
    width: 75px;
    position: absolute;
    top: 520px;
    left: 15px;
    animation: svg3 4s infinite
    animation-direction: ease
    transition: 1s ease
    opacity: .8

.home-svg-3-shadow
    fill: #003C78;
    width: 75px;
    position: absolute;
    top: 521px;
    left: 16px;
    animation: svg3-shadow 4s infinite
    animation-direction: ease
    transition: 1s ease
    opacity: .8



@keyframes svg3
    from
        transform: scale(.3)
    50%
        transform: scale(.8)
    100%
        transform: scale(.3)
@keyframes svg3-shadow
    from
        transform: scale(.3)
    50%
        transform: scale(.8)
    100%
        transform: scale(.3)

.home-svg-4
    fill: var(--darker);
    width: 40px;
    position: absolute;
    top: 240px;
    left: 435px;
    animation: svg4 7.5s infinite
    animation-direction: ease

.home-svg-4-shadow
    fill: #003C78;
    width: 40px;
    position: absolute;
    top: 241px;
    left: 436px;
    animation: svg4 7.5s infinite
    animation-direction: ease
    
    opacity: .8

@keyframes svg4
    from
        transform: rotate(0deg)
    100%
        transform: rotate(-360deg)

.home-svg-5
    fill: var(--darker);
    width: 30px;
    position: absolute;
    top: 60px;
    left: 335px;
    animation: svg5 4.5s infinite
    animation-direction: alternate
    transition: 1s ease
    opacity: .8

.home-svg-5-shadow
    fill: #003C78;
    width: 30px;
    position: absolute;
    top: 61px;
    left: 336px;
    animation: svg5 4.5s infinite
    animation-direction: alternate
    transition: 1s ease
    opacity: .8
    
@keyframes svg5
    from
        opacity: 1
    100%
        opacity: 0.45


.home-svg-6
    fill: var(--darker);
    width: 105px;
    position: absolute;
    top: 125px;
    left: 57vw;
    animation: svg6 6.6s infinite
    animation-direction: ease
    transition: 1s ease
    opacity: .8

.home-svg-6-shadow
    fill: #003C78;
    width: 105px;
    position: absolute;
    top: 126px;
    left: 57vw;
    animation: svg6-shadow 6.6s infinite
    animation-direction: ease
    transition: 1s ease
    opacity: .8



@keyframes svg6
    from
        transform: scale(.3)
    50%
        transform: scale(.8)
    100%
        transform: scale(.3)
@keyframes svg6-shadow
    from
        transform: scale(.3)
    50%
        transform: scale(.8)
    100%
        transform: scale(.3)


.home-svg-7
    fill: var(--darker);
    width: 100px;
    position: absolute;
    top: 360px;
    left: 60vw;
    animation: svg7 8.5s infinite
    animation-direction: ease

.home-svg-7-shadow
    fill: #003C78;
    width: 100px;
    position: absolute;
    top: 360px;
    left: 60vw;
    animation: svg7 8.5s infinite
    animation-direction: ease
    
    opacity: .8

@keyframes svg7
    from
        transform: rotate(0deg)
    100%
        transform: rotate(-360deg)



@media only screen and (max-width:768px)
    .mainSection
        min-width: 0 !important;
        width: 100vw;
        height: auto
    .main-text-mobile
        display: flex
        color: white
        flex-direction: column;
    .main-text-section
        display: none
    .cat-text
        font-size: 20vw;
        width: 100%;
        padding: 5vw;
    .home-ani
        display: none;
    .header-adjustment
        height: auto
        width: auto
        position: relative;
        margin-top: 100px;
    .mobile-top
        margin-top: 35px
        display: flex;
    .cat-text
        margin: 0px;