.mainSection
    width: 70vw
    height: 700px
    background-image: url(../../images/background.png)
    background-size: cover
    min-width: 600px

.main-section-adjustment-layer
    
    width: 70vw;
    min-width: 600px;
    background: black;
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    height: 700px;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    opacity: 0.9;