.sideSection
    width: 30vw
    min-width: 425px
.sideContent1
    height: 400px
    background: #074a8c
    transition: all 0.5s ease;
    min-width: 425px

.sideContent2
    height: 300px
    background: var(--textLink)
    transition: all 0.5s ease;
    min-width: 425px

@media only screen and (max-width:768px)
    .sideSection
        display: none !important