.sideSection
    width: 30vw
    min-width: 425px
.sideContent1
    align-items: center;
    height: 285px;
    background: #202020;
    transition: all 0.5s ease;
    min-width: 425px;
    display: flex;
    justify-content: center;
    margin-top: 115px;

.sideContent2
    height: 300px
    background: var(--textLink)
    transition: all 0.5s ease;
    min-width: 425px

@media only screen and (max-width:768px)
    .sideSection
        display: none !important