.supplements-wrapper

.supplements-top-banner-container
    display: flex;
.show-sup-mobile
    display: none
    margin: auto;
.hide-sup-mobile
    display: flex
    margin: auto;
.left-supplements-banner
    width: 50%
    height: 350px

.right-supplements-banner
    width: 50%
    height: 350px

.supplements-middle-banner-container
    height: 100%
    padding: 25px
    display: flex;
    justify-content: center;
    align-items: center;
    color: black

.supplements-video-banner-container
    height: 350px

.sup-full
    width: 100%
    text-align: left

.sup-mid-left
    width: 50%
    display: flex;
    justify-content: center;

.sup-mid-right
    width: 50%
    display: flex;
    justify-content: center;

.sup-desc
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin: auto;
    padding: 15px 50px;

.sup-desc-text
    margin-top: 15px
    color: #545454

@media only screen and (max-width:768px)
    .show-sup-mobile
        display: flex
    .hide-sup-mobile
        display: none
    .supplements-middle-banner-container
        height: 100%;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        flex-direction: column;
    .brand-logo-max 
        max-width: 250px !important;
    .sup-mid-left, .sup-mid-right
        width: 100%
        padding: 15px